ion-menu  {
  --background: #181a20 ;
  --ion-background-color: #181a20 ;
  ion-content,
  ion-list,
  ion-item,
  ion-label {
    color: #fff;
  }
}

ion-header {
  --background: #181a20 ;
  --ion-background-color: #181a20 ;
  ion-toolbar {
    --background: #181a20 ;
    --ion-background-color: #181a20 ;
      color: #fff;
  }
}
