<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" side="end" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-icon name="close-circle-sharp" size="large"></ion-icon>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-title>
          <ion-item (click)="goIntro()">
            intro
          </ion-item>
          <ion-item (click)="closeSesion()">
            cerrar sesion
          </ion-item>
        </ion-title>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content">
  </ion-router-outlet>
</ion-split-pane>