:root {
  --tema-oscuro-fondo:#000000;
  --tema-oscuro-texto: #ffffff;
  --tema-oscuro-titulo: #af3939;
  
  --tema-claro-fondo: #ffffff;
  --tema-claro-texto: #000000;
  --tema-claro-titulo: #3972af;
}


