<ion-header>
  <ion-toolbar>
    <!-- Título centrado -->
    <ion-title>PCA Music</ion-title>
    <!-- Botones a la derecha -->
    <ion-buttons slot="end" class="title-buttons">
      <ion-button class="slide-button" size="medium" (click)="goBack()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
      <ion-button class="slide-button" size="medium" (click)="cambiarTema()">
        <ion-icon name="contrast"></ion-icon>
      </ion-button>

        <!-- Botón de menú a la izquierda -->
    
      <ion-menu-button></ion-menu-button>
  
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content
[ngStyle]="{'--ion-background-color': temaActual}"
class="ion-padding custom-content"
>
  <swiper-container
   [slides-per-view]="1"
    class="w-full h-full custom-swiper"
    [style.background-color]="temaActual">

    <swiper-slide 
    *ngFor="let album of albums">
      <div
       class="slide-content">

        <h2 [style.color]="tematextoActual"
        >{{album.name}} 
          </h2>

        <img [src]="album.image" [alt]="album.name">

        <p [style.color]="tematextoActual"
        > Genero:  {{album.genres}}  <br> pularidad: {{album.popularity}} <br> canciones: {{album.total_tracks}} <br> lanzamiento: {{album.release_date}} 
          </p>

      </div>
    </swiper-slide>
  </swiper-container>

  <div 
      [style.background-color]="temaActual" 
      [style.color]="tematextoActual" 
      class="slide-content"
      >reproductor
    </div>

</ion-content>